* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  border: none;
}
html {
  height: 100%;
}
a,
img {
  -webkit-user-drag: none;
}
a,button {
  cursor: pointer;
}
*::after,
*::before {
  box-sizing: border-box;
}


@import 'main/vars';
@import 'main/fonts';
@import 'main/mixins';
@import 'main/media';
@import 'main/blocks';

body {
  background-color: #f5f5f5;
  font-family: $font-main;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  min-width: 320px;
  position: relative;
  color: #000;
  -webkit-tap-highlight-color: transparent;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  height: 100vh;
}