<div class="container">
    <div class="gold-bit card">
        <h2 class="title">Расчет голдбита</h2>
        <div class="gold-bit__inner">
            <form class="gold-bit__inner-c" [formGroup]="fg" (ngSubmit)="submit(fg)">
                <div class="gold-bit__head">
                    <div class="gold-bit__row btns">
                        <h4 class="title">Основные настройки</h4>
                        <div class="gold-bit__btns">
                            <button type="submit" [disabled]="fg.invalid">Расчитать</button>
                            <button type="button" (click)="clear()">Сбросить</button>
                        </div>
                    </div>
                    <div class="gold-bit__row col3">
                        <div class="input" [xFormField]="{min: 'Мин. кол-во 1'}">
                            <label>Касса</label>
                            <input type="number" formControlName="bank" min="1">
                        </div>
                        <div class="input" [xFormField]="{min: 'Мин. кол-во 0'}">
                            <label>Участники (кол-во)</label>
                            <input type="number" formControlName="raiders" min="0">
                        </div>
                        <div class="input" [xFormField]="{min: 'Мин. кол-во 0', max: 'Макс. кол-во 100'}">
                            <label>Доля РЛ (%)</label>
                            <input type="number" formControlName="rlShare" min="0" max="100">
                        </div>
                    </div>
                </div>
                <div class="gold-bit__head">
                    <h4 class="title">Бонусы</h4>
                    <div class="gold-bit__row col2">
                        <div class="input" [xFormField]="{min: 'Мин. кол-во 0'}">
                            <label>Танки (кол-во)</label>
                            <input type="number" formControlName="countTanks" min="0">
                        </div>
                        <div class="input" [xFormField]="{min: 'Мин. кол-во 0', max: 'Макс. кол-во 100'}">
                            <label>Бонус (%)</label>
                            <input type="number" formControlName="tanksShare" min="0" max="100">
                        </div>
                    </div>
                    <div class="gold-bit__row col2">
                        <div class="input" [xFormField]="{min: 'Мин. кол-во 0'}">
                            <label>Топ дд/хилы (кол-во)</label>
                            <input type="number" formControlName="countTopDpsHps" min="0">
                        </div>
                        <div class="input" [xFormField]="{min: 'Мин. кол-во 0', max: 'Макс. кол-во 100'}">
                            <label>Бонус (%)</label>
                            <input type="number" formControlName="topDpsHpsShare" min="0" max="100">
                        </div>
                    </div>
                </div>
                <div class="gold-bit__table">
                    <h4 class="title">Штрафы</h4>
                    <div class="gold-bit__table-i">
                        <div class="gold-bit__table-row">
                            <div class="gold-bit__table-column">Ник персонажа</div>
                            <div class="gold-bit__table-column">Штраф (%)</div>
                        </div>
                        <div class="gold-bit__table-row"
                             *ngFor="let itm of countMinus; index as i"
                             formGroupName="minusPlayers">
                            <div class="gold-bit__table-column">
                                <div class="input">
                                    <input type="text" [formControlName]="'nameMinus'+i">
                                </div>
                            </div>
                            <div class="gold-bit__table-column">
                                <div class="input" [xFormField]="{min: 'Мин. кол-во 0', max: 'Макс. кол-во 100'}">
                                    <input type="number" [formControlName]="'percentMinus'+i" min="0" max="100">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" (click)="addMinusPlayer(countMinus.length)">Добавить</button>
                </div>
            </form>
            <div class="gold-bit__inner-c">
                <div class="gold-bit__tot">
                    <h2 class="title">Итого:</h2>
                    <div class="gold-bit__tot-row">
                        <span>Касса:</span>
                        <span>
                            <span class="border"></span>
                            {{defBank}}
                            <i class="icon__coin"></i>
                        </span>
                    </div>
                    <div class="gold-bit__tot-row">
                        <span>Доля РЛ:</span>
                        <span>
                            <span class="border"></span>
                            {{rlShare}}
                            <i class="icon__coin"></i>
                        </span>
                    </div>
                    <div class="gold-bit__tot-row">
                        <span>Доля рейдера&nbsp;<span class="green">(штрафной)</span>:</span>
                        <span>
                            <span class="border"></span>
                            {{raidersShare}}
                            <ng-container *ngIf="raidersBonus">
                                <span class="green">(+{{raidersBonus}})</span>
                            </ng-container>
                            <i class="icon__coin"></i>
                        </span>
                    </div>
                    <div class="gold-bit__tot-row" *ngIf="tanksShare">
                        <span>Доля танк&nbsp;<span class="green">(бонус)</span>:</span>
                        <span>
                            <span class="border"></span>
                            {{tanksShare}} <span class="green">(+{{tanksBonus}})</span>
                            <i class="icon__coin"></i>
                        </span>
                    </div>
                    <div class="gold-bit__tot-row" *ngIf="topDpsHpsShare">
                        <span>Доля топ дд/хилы&nbsp;<span class="green">(бонус)</span>:</span>
                        <span>
                            <span class="border"></span>
                            {{topDpsHpsShare}} <span class="green">(+{{topDpsHpsBonus}})</span>
                            <i class="icon__coin"></i>
                        </span>
                    </div>
                    <ng-container *ngIf="punishPlayers.length">
                        <h4 class="title">Штрафники:</h4>
                        <div class="gold-bit__tot-row" *ngFor="let player of punishPlayers">
                            <span>Доля {{player.name}}&nbsp;<span class="red">(штраф)</span>:</span>
                            <span>
                            <span class="border"></span>
                            {{player.share}} <span class="red">(-{{player.punish}})</span>
                            <i class="icon__coin"></i>
                        </span>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>