<div class="container">
    <h2>Данные</h2>
    <form class="data" [formGroup]="fg" (ngSubmit)="submit(fg)">
        <div class="input" [xFormField]="{min: 'Мин. кол-во 1'}">
            <label>Банк (голд)</label>
            <input type="number" formControlName="bank" min="1">
        </div>
        <div class="input" [xFormField]="{min: 'Мин. кол-во 0'}">
            <label>Кол-во рейдеров</label>
            <input type="number" formControlName="raiders" min="0">
        </div>
        <div class="input" [xFormField]="{min: 'Мин. кол-во 0', max: 'Макс. кол-во 100'}">
            <label>Доля рла в %</label>
            <input type="number" formControlName="rlShare" min="0" max="100">
        </div>
        <div class="block">
            <div class="input" [xFormField]="{min: 'Мин. кол-во 0', max: 'Макс. кол-во 100'}">
                <label>Доля танков в %</label>
                <input type="number" formControlName="tanksShare" min="0" max="100">
            </div>
            <div class="input" [xFormField]="{min: 'Мин. кол-во 0'}">
                <label>Кол-во танков</label>
                <input type="number" formControlName="countTanks" min="0">
            </div>
        </div>
        <div class="block">
            <div class="input" [xFormField]="{min: 'Мин. кол-во 0', max: 'Макс. кол-во 100'}">
                <label>Доля топ хилов/дд в %</label>
                <input type="number" formControlName="topDpsHpsShare" min="0" max="100">
            </div>
            <div class="input" [xFormField]="{min: 'Мин. кол-во 0'}">
                <label>Кол-во топ хилов/дд</label>
                <input type="number" formControlName="countTopDpsHps" min="0">
            </div>
        </div>
        <h3>Минуса рейдеров</h3>
        <div *ngIf="countMinus.length" formGroupName="minusPlayers">
            <div class="block" *ngFor="let itm of countMinus; index as i">
                <div class="input" [xFormField]="{min: 'Мин. кол-во 0'}">
                    <label>Кол-во человек</label>
                    <input type="number" [formControlName]="'countMinus'+i" min="0">
                </div>
                <div class="input" [xFormField]="{min: 'Мин. кол-во 0', max: 'Макс. кол-во 100'}">
                    <label>на сколько процентов</label>
                    <input type="number" [formControlName]="'percentMinus'+i" min="0" max="100">
                </div>
            </div>
        </div>
        <button type="button" (click)="createMinusBlock(countMinus.length)">Добавить минус</button>
        <button type="submit">Вычислить</button>
        <button type="submit" (click)="clear()">Сбросить</button>

    </form>
    <ng-container *ngIf="result">
        <h2>Результат</h2>
        <div [innerHTML]="result"></div>
    </ng-container>

</div>
